*{
    text-align: center;
}
body{
    background-image: url("../images/background.jpg");
    position: fixed;
    font-family: 'Chilanka', cursive;
    background-size: cover;
    width: 100%;
    height: 100%
}

.container{
    text-align: center;
    color: white;
    font-family: 'Chilanka', cursive;
}

.sub-container{
    text-align: center;
    color: white;
    font-family: 'Chilanka', cursive;
}

.main-container{
    position: relative;
    top: 40%;
    font-family: 'Chilanka', cursive;
}

#title